<footer class="text-gray-700 body-font">
  <div
    class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
  >
    <p
      class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-1 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
    >
      <a href="{{ .Site.Params.Url }}">&copy; {{ .Site.Params.Author }} {{ .Site.Params.Year }}</a>
    </p>
    <span
      class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
    >
      {{ if .Site.Social.facebook }}
      <a class="text-gray-500" href="{{ .Site.Social.facebook }}">
        <svg
          fill="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-5 h-5"
          viewBox="0 0 24 24"
        >
          <path
            d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
          ></path>
        </svg>
      </a>
      {{ end }} {{ if .Site.Social.twitter }}
      <a class="ml-3 text-gray-500" href="{{ .Site.Social.twitter }}">
        <svg
          fill="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-5 h-5"
          viewBox="0 0 24 24"
        >
          <path
            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
          ></path>
        </svg>
      </a>
      {{ end }} {{ if .Site.Social.xing }}
      <a class="ml-3 text-gray-500" href="{{ .Site.Social.xing }}">
        <svg 
        fill="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-5 h-5"
        width="24" 
        height="24" 
        viewBox="0 0 512 512">
          <path d="M313.8 303.9L469 32H365L209.4 303.8a1.35 1.35 0 0 0 0 1.7l98.9 173.8c.4.7.8.7 1.6.7H413l-99.3-174.7a1.74 1.74 0 0 1 .1-1.4z"/>
          <path d="M221.9 216.2L163 113a2 2 0 0 0-2-1H65l58.9 104.4a1.13 1.13 0 0 1 .1.8L43 352h96.8a1.54 1.54 0 0 0 1.6-.9l80.5-133.7a2.44 2.44 0 0 0 0-1.2z"/>
        </svg>
      </a>
      {{ end }} {{ if .Site.Social.linkedin }}
      <a class="ml-3 text-gray-500" href="{{ .Site.Social.linkedin }}">
        <svg
          fill="currentColor"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="0"
          class="w-5 h-5"
          viewBox="0 0 24 24"
        >
          <path
            stroke="none"
            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
          ></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
      {{ end }}
    </span>
  </div>
</footer>

<script>
  const allTypes = ["all",  {{ range .Site.Sections }}"{{lower .Title}}",{{ end }}];
  const filter = (event, type) => {
    const isActive = event.target.classList.contains("active");

    showAll();
    if (!isActive) {
      hideAll();
      event.target.classList.add("active");
      if (type !== "other") {
        document
          .querySelectorAll(`.${type}`)
          .forEach((item) => item.classList.remove("hide"));
      } else {
        document
          .querySelectorAll(
            `.card${specificTypes.map((type) => `:not(.${type})`).join("")}`
          )
          .forEach((item) => item.classList.remove("hide"));
      }
    }
  };

  const showAll = () => {
    allTypes.forEach((type) => {
      document
        .querySelectorAll(`.${type}`)
        .forEach((item) => item.classList.remove("hide"));
      document
        .querySelectorAll(`.filter-${type}`)
        .forEach((filterItem) => filterItem.classList.remove("active"));
    });
  };

  const hideAll = () => {
    allTypes.forEach((type) => {
      document
        .querySelectorAll(`.container a.card`)
        .forEach((item) => item.classList.add("hide"));
    });
  };

  allTypes.forEach((type) => {
    document
      .querySelectorAll(`.filter-${type}`)
      .forEach((filterItem) =>
        filterItem.addEventListener("click", (event) => filter(event, type))
      );
  });

  const showAllButton = document.querySelector(`.show-all`)
  if(showAllButton) showAllButton.addEventListener("click", showAll);
</script>
